/* 1 vw = 17
1 vh = 8 */
/* Global elements */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: var(--navy-blue);
}

:root {
    /* Main colors */
    --white: #fefefe;
    --pale-purple: #cfd1ec;
    --navy-blue: #0b0a30;
    --magenta: #7e4182;

    /* Additional colors */
    --trash-red: #75160f;
    --group-bg: #d7d7d7;
}

input {
    color: var(--navy-blue);
    background-color: var(--white);
    width: 400px;
    font-size: 30px;
    border-radius: 4px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--white);
    background-color: var(--navy-blue);
    height: 50px;
}

.navbar .navtext {
    display: inline-block;
    margin-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 50px;
    color: var(--white);
}

.navbar .navtext:hover {
    color: var(--navy-blue);
    background-color: var(--white);
}

.body {
    min-height: 100vh;
    background-color: var(--pale-purple);
    margin: 0;
}


/* Flexbox containers */
.gen_box {
    display: flex;
    position: relative;
    justify-content: space-between;
    transform-box: fill-box;
    margin: 0;
}

.innerWrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform-box: fill-box;
    margin: 0;
}

.box {
    display: flex;
    width: 400px;
    position: relative;
    top: 33vh;
    left: 22vw;
    transform: translate(-50%, -50%);

    justify-content: space-between;
}

.box_vert {
    display: flex;
    width: 800px;
    height: 250px;
    position: relative;
    transform-box: fill-box;
    top: 33vh;
    left: 33vw;
    transform: translate(-50%, -50%);
    flex-direction: column;

    justify-content: space-evenly;
}

.wrapper {
    
    background-color: var(--white);
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-right: 8vw;
    margin-left: 8vw;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(11, 10, 48, 0.2), 0 6px 20px 0 rgba(11, 10, 48, 0.2);
}

.wrapper div {
    margin-left: auto;
    margin-right: auto;
}

.mini-wrapper {
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    width: 34vw;
    min-height: 34vh;
    margin-top: 33vh;
    margin-left: 33vw;
    margin-bottom: 16vh;

    box-shadow: 0 4px 8px 0 rgba(11, 10, 48, 0.2), 0 6px 20px 0 rgba(11, 10, 48, 0.2);
}


/* Buttons */
.user-button {
    background-color: var(--magenta);
    height: 60px;
    width: 175px;
    color: var(--white);
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;     
}

.user-button-gray {
    background-color: #5a5a5a;
    height: 60px;
    width: 175px;
    color: var(--white);
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;   
}

.user-button:hover {
    background-color: var(--white);
    color: var(--magenta);
    border: 2px solid var(--magenta);

}

.user-button:focus {
    outline-color: var(--navy-blue);
    outline-style: solid;
    outline-width: 2px;
}

.circle-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--navy-blue);
    color: var(--white);
    border:none;
}

.group-button {
    display: flex; 
    height: 120px;
    width: 600px;
    background-color: var(--white);
    margin-bottom: 20px;
    border: 2px solid var(--navy-blue);
    border-radius: 3px;
}

.group-button:hover {
    transition: 0.15s;
    transform: scale(1.1);
}


/* Icons */
.fa-trash-o:hover {
    font-weight: bold;
}

.fa-edit:hover {
    font-weight: bold;
}

.rightArrow {
    background-color: var(--navy-blue);
    color: var(--white);
    border: none;
    border-radius: 4px;
}

.editGroupIcon {
    background-color: var(--group-bg); 
    border: none; 
    width: calc(100%); 
    height: calc(50%);
}

.close {
    position: absolute; 
    top: 0; 
    right: 0; 
    color: var(--trash-red);
    background-color: transparent;
    border: none; 
}

.close:hover {
    font-weight: bold;
    color: var(--navy-blue);
}

.home {
    background-color: transparent;
    width: 40px;
    height: 50px;
    color: var(--white);
    border: none;
    line-height: 50px;
} 

.fa-home:hover {
    color: var(--navy-blue);
    background-color: var(--white);
}


/* Animations */
.popout {
    margin: 1px;
    border: 1px solid #333;
    transition: 0.15s;
}

.popout:hover {
    transform: scale(1.07);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}


/* Popups */
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);   /* blur background */
    display: none;
}

.show {
    display: block;
}

.hidden {
    display: none;
}


/* Miscellaneous */
.frame {
    border: 2px solid #282828;
    padding: 4px 3px 1px 3px;
}